VITE_FIREBASE_API_KEY=AIzaSyBvDOY1RganlcrHPOKqANwEVxVr5m1KZwI
VITE_FIREBASE_AUTH_DOMAIN=dartmouth-climbing-gym.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=dartmouth-climbing-gym
VITE_FIREBASE_STORAGE_BUCKET=dartmouth-climbing-gym.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=862046563935
VITE_FIREBASE_APP_ID=1:862046563935:web:3e09993dd977d85277b5ea
