body {
  text-align: center;
}

h1 {
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.txtin {
  width: 10vw;
}

.btn-primary {
  background-color: #00693e;
}

.paymentcheck {
  width: 20px;
}

input {
  margin: auto;
  margin-top: 0.5vh;
  margin-bottom: 1.5vh;
  width: 30%;
  height: 5vh;
  font-size: 2vh;
}

#signinform {
  margin: auto;
  margin-top: 3vh;
  width: 40vw;
}

#waiverform {
  margin: auto;
  margin-top: 3vh;
  width: 40vw;
}

#payform {
  margin: auto;
  margin-top: 3vh;
  width: 60vw;
}

#waivertxt {
  margin: auto;
  margin-top: 3vh;
  width: 40vw;
  white-space: pre-wrap;
  word-wrap: break-word;
}

table {
  margin: auto;
  margin-top: 3vh;
  width: 40vw;
}

#pass {
  width: 18vw;
  margin-left: auto;
  margin-right: auto;
}